<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Todos{% endblock %} | Todo app</title>
  <link rel="stylesheet" href="/static/css/pico.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
  <header class="container">
    <nav>
      <ul>
        <li><a href="/"><strong>All todos</strong></a></li>
      </ul>
      <ul>
        <li><a href="/todos/new">New todo</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
